:root {
  --white: #fff;
  --black: #000;
  --main-bg: #242424;
  --chat-bg: #f5f5f5;
  --success: #4CAF50;
  --error: #F44236;
  --primary: #007bff;

  --skype-call-bg: #292726;
  --skype-avatar-bg: #2B2C34;
  --skype-label-bg: #8E8E90;

  --modal-border: rgba(0,0,0,.2);
}
