.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

  .animation-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;


    .animation {
      flex: 1 1 50%;
      width: 50%;
    }
  }

  .chat {
    padding: 5px 15px;
    width: 100%;
    min-height: 100px;
    background-color: var(--chat-bg);
  }
}
