.chat-container {
  --chat-block-height: 250px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: var(--chat-block-height);
  min-height: calc(100vh - var(--chat-block-height)) !important;
  overflow: hidden;

  .animation-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;


    .animation {
      flex: 0 0 50%;
      width: 50%;
    }
  }

  .chat {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--chat-block-height);
    padding: 10px 15px;
    min-height: 100px;
    background-color: var(--chat-bg);
    border-top: 1px solid var(--chat-border);
    overflow-y: auto;
  }
}
