.enter-layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: url('../../assets/img/wallpaper.jpg') 50% 50%;
  background-size: cover;

  .skype-call {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 278px;
    background: var(--skype-call-bg);
    border-radius: 5px;
    border-top: 1px solid rgba(#fff, .2);
    box-shadow: -2px 24px 20px -12px rgba(var(--black),.5) ;
  }

  .skype-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: var(--skype-avatar-bg);
    overflow: hidden;

    .avatar {
      width: 40%;
      fill: var(--white);
    }
  }

  .skype-name {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    color: var(--white);
  }

  .skype-call-label {
    margin-bottom: 25px;
    color: var(--skype-label-bg);
    font-size: 12px;
    letter-spacing: 1px;
  }

  .skype-controll-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .skype-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    svg {
      width: 45%;
      fill: var(--white);
    }
  }

  .skip {

    svg {
      transform: rotate(135deg);
    }
  }

  .success {
    background-color: var(--success);
  }

  .error {
    background-color: var(--error);
  }

  .skype-logo {
    display: inline-block;
    width: 70px;
    height: 70px;
    cursor: pointer;

    >img {
      width: 100%;
    }
  }

  .outcoming-call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);
    //background: url('../../assets/img/out-call.png') 50% 50%;
    background-size: cover;

    .call-avatar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: var(--message-bg-avatar);
      border: 2px solid var(--call-avatar-border);
      color: var(--call-avatar-border);
      font-size: 21px;
      font-weight: 600;

      //&::before {
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  content: '';
      //  display: inline-block;
      //  width: 95px;
      //  height: 95px;
      //  border-radius: 50%;
      //  border: 4px solid var(--call-avatar-border);
      //  transform: translate(-50%, -50%);
      //}
    }
  }
}